<ion-content>
    <section class="profile_container">
        <div class="imageContainer">
            <img class="userImage" alt="User profile photo" src="{{(profileData|async)?.photoURL}}" />
            <!---->
        </div>
    </section>

    <section class="photo_container">
        <div class="photo_element">
            <label class="edit-photo" for="fileInput" class="btn">Change your profile photo<img class="editIcon"
                    type="image" src="../assets/media/edit-icon.png" alt="User profile photo" /></label>
            <input type="file" id="fileInput" accept="image/*" style="display: none" (change)="onUpload($event)"
                #fileInput />
        </div>
    </section>

    <section class="email_container">
        <div class="email_element input_cover">
            <input placeholder="{{(profileData|async)?.email}}" type="text" />
        </div>
    </section>

    <section class="name_container">
        <div class="name_element input_cover">
            <input placeholder="{{(profileData|async)?.displayName}}" type="text" [(ngModel)]="updatedName"
                [value]="fullname" />
            <img src="../assets/media/edit-icon.png" alt="Edit name" (click)="editName()">
        </div>
    </section>
    <div class="text-center">
        <button [routerLink]="['/favoritos']" replaceUrl="true" routerLinkActive="active" class="input_overlay_submit logout favourite">
            Favourites</button>
    </div>

    <div class="password_button">
        <input type="submit" (click)="logout()" class="input_overlay_submit logout" value="Logout" />
    </div>

</ion-content>