<ion-content>
  <section class="outstanding-routes-container">
    <div *ngFor="let predefinedRoute of predefinedRoutes | async">

      <app-card-home [routerLink]="['/route/', predefinedRoute.payload.doc.id]" routerLinkActive="active"
        [numberOfPeople]="predefinedRoute.payload.doc.data()['numberOfPeople']"
        [price]="predefinedRoute.payload.doc.data()['price']"
        [routeName]="predefinedRoute.payload.doc.data()['routeName']"
        [thumbnailPath]="predefinedRoute.payload.doc.data()['thumbnailPath']"
        [routeId]="predefinedRoute.payload.doc.id">
      </app-card-home>

    </div>

    <div class="w-100 footer-margin"></div>
  </section>

</ion-content>